$font-primary: "Roboto", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$primary-color: #ff6f61;
$color-black: #11161e;
$text-color: #1d1d1d;
$footer-color: #11161e;
$text-white: #fff;
$section-lr-padding: 0 10rem;
$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$topbar-color: #151a32;
